* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu-button {
  display: none;
}
.navbar {
  float: right;
  margin: 30px;
}
.navbar nav ul li {
  display: inline;
  margin: 30px;
}
.navbar nav ul li a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}
.contant {
  width: 100%;
  height: 50vh;
  background-color: aqua;
}
.menu-button {
  display: none;
}
@media screen and (max-width: 700px) {
  .menu-button {
    display: block;
    position: absolute;
    right: 4%;
    top: 4%;
  }
  #nav-button {
    padding: 10px 10px;
    border: none;
    background: none;
    font-size: 30px;
    color: blue;
  }
  .navbar {
    height: 0;
    margin: 30px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0%;
  }
  .navbar nav ul li {
    display: block;
    margin: 30px;
  }
  .navbar nav ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  .contant {
    width: 100%;
    height: 50vh;
    background-color: aqua;
  }
  .display-navbar {
    height: auto;
  }
}
